<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Collection</key>
						<dict>
							<key>Selected</key>
							<string>n particles</string>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>4</integer>
						<key>SwitchAt</key>
						<string>10000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.10000000000000001</real>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>2D Region</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>MarkerSize</key>
						<string>5</string>
						<key>MarkerType</key>
						<integer>1</integer>
						<key>Point</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0</string>
							</dict>
							<key>Selected</key>
							<string>food particle</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>536.5</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{803, 536.5}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>803,536.5</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>n particles</string>
			<key>WindowPos</key>
			<array>
				<real>2810</real>
				<real>932</real>
				<real>801</real>
				<real>773</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.10000000000000001</real>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>2D Region</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Collection</key>
						<dict>
							<key>Selected</key>
							<string>position from Group</string>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>1</integer>
						<key>SwitchAt</key>
						<string>10000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>383</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{869, 383}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>869,383</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>position from Group</string>
			<key>WindowPos</key>
			<array>
				<real>116</real>
				<real>74</real>
				<real>867</real>
				<real>637</real>
			</array>
		</dict>
	</array>
	<key>MonitorVariables</key>
	<array>
		<string>List of Numbers</string>
		<string>List of Numbers Reshaped</string>
		<string>Dictionary</string>
		<string>Group</string>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>100.09999999999859</real>
			<key>MaxValue</key>
			<real>100.09999999999859</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>100.1</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>100</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>874</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>200</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>n</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>v*2</string>
				<key>Number</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>Selected</key>
					<string>n</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Map Value</string>
			<key>VariableName</key>
			<string>2*n</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Length</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>100</string>
					</dict>
					<key>Selected</key>
					<string>2*n</string>
				</dict>
				<key>Seed</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>4357</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Random</string>
			<key>VariableName</key>
			<string>List of Numbers</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>2,length/2</string>
				<key>Numbers</key>
				<dict>
					<key>Selected</key>
					<string>List of Numbers</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Reshape</string>
			<key>VariableName</key>
			<string>List of Numbers Reshaped</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>List of Numbers Reshaped</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Array</string>
			<key>VariableName</key>
			<string>n particles</string>
			<key>VariableType</key>
			<string>PointCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Interactive</key>
				<string>On</string>
				<key>XMax</key>
				<string>2</string>
				<key>XMin</key>
				<string>0</string>
				<key>XRestrict</key>
				<string>-∞,∞</string>
				<key>YMax</key>
				<string>1</string>
				<key>YMin</key>
				<string>0</string>
				<key>YRestrict</key>
				<string>-∞,∞</string>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>VariableName</key>
			<string>2D Region</string>
			<key>VariableType</key>
			<string>Region2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Coordinate</key>
				<string>1.633,0.7805</string>
				<key>InteractiveSwitch</key>
				<string>On</string>
				<key>XRestriction</key>
				<string>-∞,∞</string>
				<key>YRestriction</key>
				<string>-∞,∞</string>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>VariableName</key>
			<string>food particle</string>
			<key>VariableType</key>
			<string>Point2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>noise</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0.1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>v0</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>angular drift</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>radius</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0.3</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Create</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Dictionary</string>
			<key>VariableType</key>
			<string>Dictionary</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/foodWalk</string>
				<key>Argument</key>
				<string></string>
				<key>DirName</key>
				<string></string>
				<key>DirType</key>
				<integer>0</integer>
				<key>GroupName</key>
				<string>DT_RetGroup</string>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>foodWalk/foodWalk.xcodeproj</string>
				<key>Structure</key>
				<array>
					<dict>
						<key>Name</key>
						<string>position</string>
						<key>Type</key>
						<string>PointCollection2D</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>foodBeacon</string>
						<key>Type</key>
						<string>Mesh2D</string>
					</dict>
					<dict>
						<key>Name</key>
						<string>homeBeacon</string>
						<key>Type</key>
						<string>Mesh2D</string>
					</dict>
				</array>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>initial</string>
						<key>Type</key>
						<string>PointCollection2D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>n particles</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>food</string>
						<key>Type</key>
						<string>Point2D</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0</string>
							</dict>
							<key>Selected</key>
							<string>food particle</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>dt</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>.1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>endTime</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>100</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>seed</string>
						<key>Number Type</key>
						<integer>1</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>23</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>parameters</string>
						<key>Type</key>
						<string>Dictionary</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>Dictionary</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>region</string>
						<key>Type</key>
						<string>Region2D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>2D Region</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Task</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Group</string>
			<key>VariableType</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Group</key>
				<dict>
					<key>Selected</key>
					<string>Group</string>
				</dict>
				<key>Name</key>
				<dict>
					<key>Title</key>
					<string>position</string>
					<key>Token</key>
					<string>position</string>
				</dict>
				<key>NameString</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Group</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>position from Group</string>
			<key>VariableType</key>
			<string>PointCollection2D</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>4</real>
		<real>921</real>
		<real>1065</real>
		<real>772</real>
	</array>
</dict>
</plist>
