<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>Subtract background</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>2</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-0.525,0.141</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Hidden</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Path</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>ClockWiseSwitch</key>
						<string>Off</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.032063801000000003</real>
									<key>Green</key>
									<real>1</real>
									<key>Red</key>
									<real>0.020642599000000001</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>FillSwitch</key>
						<string>Off</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.032063801000000003</real>
										<key>Green</key>
										<real>1</real>
										<key>Red</key>
										<real>0.020642599000000001</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineSwitch</key>
						<string>On</string>
						<key>Path</key>
						<dict>
							<key>Selected</key>
							<string>Ant outline approximation</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Value</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CountFromOne</key>
						<string>On</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Digits</key>
						<string>6</string>
						<key>DrawCoordinate</key>
						<string>Off</string>
						<key>DrawNumber</key>
						<string>Off</string>
						<key>DrawValue</key>
						<string>On</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>6</integer>
						<key>Offset</key>
						<string>0,0</string>
						<key>Point</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0</string>
								<key>Value</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Center of mass of Big loops in Contour of Subtract background</string>
						</dict>
						<key>Position</key>
						<integer>0</integer>
						<key>SwitchAt</key>
						<string>2000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Hidden</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Collection</key>
						<dict>
							<key>Selected</key>
							<string>All points of Points</string>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>4</integer>
						<key>SwitchAt</key>
						<string>10000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Hidden</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Vectors</string>
					<key>Computation</key>
					<dict>
						<key>ArrowType</key>
						<integer>3</integer>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Scaling</key>
						<string>1</string>
						<key>VectorField</key>
						<dict>
							<key>Selected</key>
							<string>Direction of ants based on center of mass</string>
						</dict>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>455</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{1015, 455}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>1015,455</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Gray</string>
			<key>WindowPos</key>
			<array>
				<real>-530</real>
				<real>1924</real>
				<real>1013</real>
				<real>773</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingRange</key>
			<dict>
				<key>Include</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>IncludeSwitch</key>
				<string>Off</string>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Max</key>
						<string></string>
						<key>Min</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>RangeType</key>
				<integer>0</integer>
				<key>RestrictState</key>
				<dict>
					<key>Position</key>
					<integer>0</integer>
					<key>Stack</key>
					<array>
						<string>-∞,∞</string>
					</array>
					<key>String</key>
					<string>-∞,∞</string>
				</dict>
				<key>RestrictSwitch</key>
				<string>On</string>
				<key>RestrictVariable</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>-∞,∞</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-124.90000000000001</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>-124.9</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>20</real>
								<key>MaxValue</key>
								<real>60</real>
								<key>MinValue</key>
								<real>2</real>
								<key>String</key>
								<string>20</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>4.7160000000000002</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>4.716</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>Blue</key>
								<real>0.0</real>
								<key>Green</key>
								<real>0.0</real>
								<key>Red</key>
								<real>0.0</real>
								<key>Space</key>
								<string>NSCalibratedRGBColorSpace</string>
							</dict>
						</dict>
						<key>ColorRamp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>DrawLines</key>
						<string>Off</string>
						<key>HeighOption</key>
						<integer>0</integer>
						<key>Height</key>
						<string>0</string>
						<key>Material</key>
						<integer>0</integer>
						<key>MaxNumber</key>
						<string>6M</string>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>Subtract background</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>-0.533,0.122</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>Off</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>483.5</real>
			<key>DrawingWindowType</key>
			<string>2DPlotGL</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{557, 483.5}</string>
			<key>Lights</key>
			<dict>
				<key>Lights</key>
				<array/>
			</dict>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>Rendering</key>
			<dict>
				<key>BackgroundColor</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Density</key>
				<string>1</string>
				<key>Fog</key>
				<string>Off</string>
				<key>FogType</key>
				<integer>0</integer>
				<key>LinearRange</key>
				<string>0,1</string>
				<key>Offset</key>
				<string>1,10</string>
				<key>Smoothing</key>
				<integer>3</integer>
				<key>Sorting</key>
				<integer>0</integer>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>559,483.5</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Gray</string>
			<key>WindowPos</key>
			<array>
				<real>-464</real>
				<real>1924</real>
				<real>557</real>
				<real>773</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Mesh</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Mesh</key>
						<dict>
							<key>Selected</key>
							<string>Histogram of All points of Points</string>
						</dict>
						<key>Opacity</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>1</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Ramp</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Menu</key>
								<integer>0</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Range</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Range</key>
								<string>0,404</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Swap</key>
						<string>On</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Collection</key>
						<dict>
							<key>Selected</key>
							<string>Points</string>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineType</key>
								<integer>0</integer>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>20</string>
						<key>MarkerType</key>
						<integer>1</integer>
						<key>SwitchAt</key>
						<string>10000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>1020</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{920, 1020}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>920,1020</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>Histogram of All points of Points</string>
			<key>WindowPos</key>
			<array>
				<real>-1034</real>
				<real>-591</real>
				<real>918</real>
				<real>1368</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Bitmap</string>
					<key>Computation</key>
					<dict>
						<key>Bitmap</key>
						<dict>
							<key>Selected</key>
							<string>Source</string>
						</dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>Crop</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>CropSwitch</key>
						<string>On</string>
						<key>Interpolation</key>
						<integer>0</integer>
						<key>Sparsify</key>
						<string>On</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Value</string>
					<key>Computation</key>
					<dict>
						<key>ClockWiseCropSwitch</key>
						<string>Off</string>
						<key>CountFromOne</key>
						<string>On</string>
						<key>CropSwitch</key>
						<string>On</string>
						<key>CroppingPath</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Digits</key>
						<string>6</string>
						<key>DrawCoordinate</key>
						<string>Off</string>
						<key>DrawNumber</key>
						<string>Off</string>
						<key>DrawValue</key>
						<string>On</string>
						<key>Format</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>Name</key>
								<string>Helvetica</string>
								<key>Size</key>
								<string>12</string>
								<key>Type</key>
								<integer>4</integer>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>LineStyle</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>Blue</key>
										<real>0.0</real>
										<key>Green</key>
										<real>0.0</real>
										<key>Red</key>
										<real>0.0</real>
										<key>Space</key>
										<string>NSCalibratedRGBColorSpace</string>
									</dict>
								</dict>
								<key>LineWidth</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<integer>0</integer>
						<key>MarkerSize</key>
						<string>4.0</string>
						<key>MarkerType</key>
						<integer>6</integer>
						<key>Offset</key>
						<string>0,0</string>
						<key>Point</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Point</key>
								<string>0,0</string>
								<key>Value</key>
								<string>0</string>
							</dict>
							<key>Selected</key>
							<string>Center of mass of Big loops in Contour of Subtract background</string>
						</dict>
						<key>Position</key>
						<integer>0</integer>
						<key>SwitchAt</key>
						<string>2000</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>404.5</real>
			<key>DrawingWindow</key>
			<dict>
				<key>ClickMenu</key>
				<dict>
					<key>EntryName</key>
					<string>Automatic</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>DrawingWindowType</key>
			<string>2DGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{903, 404.5}</string>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>903,404.5</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>YES</string>
			<key>WindowName</key>
			<string>Center of mass of Big loops in Contour of Subtract background</string>
			<key>WindowPos</key>
			<array>
				<real>655</real>
				<real>1924</real>
				<real>901</real>
				<real>773</real>
			</array>
		</dict>
	</array>
	<key>MonitorVariables</key>
	<array>
		<string>Loops from Ant outline approximation</string>
		<string>Direction of ants based on center of mass</string>
		<string>Source</string>
		<string>Ant outline approximation</string>
		<string>Center of mass of Big loops in Contour of Subtract background</string>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>11.9</real>
			<key>MaxValue</key>
			<real>19.960000000000001</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>11.9</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>On</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>874</real>
			<real>83</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>DiskCache</key>
				<string>YES</string>
				<key>File</key>
				<string>Ant Dataset (Multiple Hypotheses Tracking).mp4</string>
				<key>MovieTime</key>
				<dict>
					<key>CurrentValue</key>
					<real>0.0</real>
					<key>MaxValue</key>
					<real>19.960000000000001</real>
					<key>MinValue</key>
					<real>0.0</real>
					<key>String</key>
					<string>0</string>
				</dict>
				<key>Origin</key>
				<string>0,0</string>
				<key>Range</key>
				<string>0,∞</string>
				<key>Rotate</key>
				<integer>1</integer>
				<key>Sparsify</key>
				<string>1</string>
				<key>Step</key>
				<string>1</string>
				<key>TimeScale</key>
				<string>1</string>
			</dict>
			<key>Selection</key>
			<string>From Movie</string>
			<key>VariableName</key>
			<string>Source</string>
			<key>VariableType</key>
			<string>Bitmap2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Bitmap</key>
				<dict>
					<key>Selected</key>
					<string>Source</string>
				</dict>
				<key>Component</key>
				<integer>3</integer>
				<key>Scaling</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Color Component</string>
			<key>VariableName</key>
			<string>Gray</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Time</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Gray</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Time Value</string>
			<key>VariableName</key>
			<string>Background</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Mesh</key>
				<dict>
					<key>Selected</key>
					<string>Background</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Variable</string>
			<key>VariableName</key>
			<string>Grid from Background</string>
			<key>VariableType</key>
			<string>Mesh2DGrid</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Origin</key>
				<string>0,0</string>
				<key>Size</key>
				<string>540,360</string>
				<key>Steps</key>
				<string>10</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Specify</string>
			<key>VariableName</key>
			<string>Coarse grid</string>
			<key>VariableType</key>
			<string>Mesh2DGrid</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>First</key>
				<dict>
					<key>Selected</key>
					<string>Gray</string>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Function</key>
						<string>x*y</string>
					</dict>
					<key>Selected</key>
					<string>Background</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Difference</string>
			<key>VariableName</key>
			<string>Subtract background</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Integer</key>
				<string>Off</string>
				<key>Range</key>
				<string>-0.533,0.122</string>
				<key>RangeEqualsValue</key>
				<string>On</string>
				<key>Slider</key>
				<dict>
					<key>CurrentValue</key>
					<real>-0.214</real>
					<key>MaxValue</key>
					<real>0.122</real>
					<key>MinValue</key>
					<real>-0.53300000000000003</real>
					<key>String</key>
					<string>-0.214</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Slider</string>
			<key>VariableName</key>
			<string>threshold</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Cubic</key>
				<string>Off</string>
				<key>Edge</key>
				<integer>1</integer>
				<key>Height</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>0</string>
					</dict>
					<key>Selected</key>
					<string>threshold</string>
				</dict>
				<key>Mesh</key>
				<dict>
					<key>Selected</key>
					<string>Subtract background</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Contour</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Contour of Subtract background</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Integer</key>
				<string>Off</string>
				<key>Range</key>
				<string>10,200</string>
				<key>RangeEqualsValue</key>
				<string>On</string>
				<key>Slider</key>
				<dict>
					<key>CurrentValue</key>
					<real>108</real>
					<key>MaxValue</key>
					<real>200</real>
					<key>MinValue</key>
					<real>10</real>
					<key>String</key>
					<string>108</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Slider</string>
			<key>VariableName</key>
			<string>Real Number</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Path</key>
				<dict>
					<key>Selected</key>
					<string>Contour of Subtract background</string>
				</dict>
				<key>Tolerance</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>50</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>1</integer>
			</dict>
			<key>Selection</key>
			<string>Remove Loops</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Ant outline approximation</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Path</key>
				<dict>
					<key>Selected</key>
					<string>Ant outline approximation</string>
				</dict>
				<key>Range</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Range</key>
						<string>1,1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Extract Loops</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Loops from Ant outline approximation</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/direction</string>
				<key>Argument</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Communication</key>
				<integer>1</integer>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>direction/direction.xcodeproj</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>outline</string>
						<key>Type</key>
						<string>Path2D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>Ant outline approximation</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>External Program</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Direction of ants based on center of mass</string>
			<key>VariableType</key>
			<string>VectorCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/directionCenterOfMass</string>
				<key>Argument</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Communication</key>
				<integer>1</integer>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>directionCenterOfMass/directionCenterOfMass.xcodeproj</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>centerMass</string>
						<key>Type</key>
						<string>PointValueCollection2D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>Center of mass of Big loops in Contour of Subtract background</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>External Program</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>direction of ants based on disp of center of mass</string>
			<key>VariableType</key>
			<string>VectorCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Ant outline approximation</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Center of Mass</string>
			<key>VariableName</key>
			<string>Center of mass of Big loops in Contour of Subtract background</string>
			<key>VariableType</key>
			<string>PointValueCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Center of mass of Big loops in Contour of Subtract background</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Extract Points</string>
			<key>VariableName</key>
			<string>Points</string>
			<key>VariableType</key>
			<string>PointCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Points</key>
				<dict>
					<key>Selected</key>
					<string>Points</string>
				</dict>
				<key>Threads</key>
				<integer>3</integer>
			</dict>
			<key>Selection</key>
			<string>Combine Time Values</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>All points of Points</string>
			<key>VariableType</key>
			<string>PointCollection2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Grid</key>
				<dict>
					<key>Selected</key>
					<string>Coarse grid</string>
				</dict>
				<key>Points</key>
				<dict>
					<key>Selected</key>
					<string>All points of Points</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Histogram</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Histogram of All points of Points</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>593</real>
		<real>1298</real>
		<real>991</real>
		<real>1399</real>
	</array>
</dict>
</plist>
