<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>String</key>
	<string>Percent in Cluster
Percent
Time Step
Average Cluster Size
Number of Particles
Time Step
Number of Particles on the Boundry
Number of Particles
Time Step</string>
</dict>
</plist>
