<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array/>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>103.53564444444444</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>0.0</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>-406</real>
			<real>186</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>0</string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>Content</key>
			<dict>
				<key>File</key>
				<string>../Source File Videos/IMG_1829.mp4</string>
				<key>MovieTime</key>
				<dict>
					<key>CurrentValue</key>
					<real>0.0</real>
					<key>MaxValue</key>
					<real>103.53564444444444</real>
					<key>MinValue</key>
					<real>0.0</real>
					<key>String</key>
					<string>0</string>
				</dict>
				<key>Origin</key>
				<string>0,0</string>
				<key>Range</key>
				<string>0,∞</string>
				<key>Rotate</key>
				<integer>1</integer>
				<key>Sparsify</key>
				<string>1</string>
				<key>Step</key>
				<string>1</string>
				<key>TimeScale</key>
				<string>1</string>
			</dict>
			<key>Selection</key>
			<string>From Movie</string>
			<key>VariableName</key>
			<string>IMG_1829.mp4</string>
			<key>VariableType</key>
			<string>Bitmap2D</string>
		</dict>
		<dict>
			<key>State</key>
			<string>Closed</string>
			<key>Title</key>
			<string>creating the contours</string>
			<key>VariableName</key>
			<string>DACollapser - 1</string>
			<key>VariableType</key>
			<string>CollapserOpen</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Bitmap</key>
				<dict>
					<key>Selected</key>
					<string>IMG_1829.mp4</string>
				</dict>
				<key>Color</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Blue</key>
							<real>0.28627450980392155</real>
							<key>Green</key>
							<real>0.50588235294117645</real>
							<key>Red</key>
							<real>0.10588235294117647</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Color Distance</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Distance Mesh</string>
			<key>VariableType</key>
			<string>Mesh2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Cubic</key>
				<string>Off</string>
				<key>DiskCache</key>
				<string>YES</string>
				<key>Edge</key>
				<integer>1</integer>
				<key>Height</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Text</key>
						<string>.1</string>
					</dict>
					<key>Selected</key>
					<string>for color picker</string>
				</dict>
				<key>Mesh</key>
				<dict>
					<key>Selected</key>
					<string>Distance Mesh</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Contour</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>contour of color dist</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Path</key>
				<dict>
					<key>Selected</key>
					<string>contour of color dist</string>
				</dict>
				<key>Tolerance</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>50</string>
					</dict>
					<key>Selected</key>
					<string>loop threshold</string>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Remove Loops</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Big loops in contour of color dist</string>
			<key>VariableType</key>
			<string>Path2D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>40</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>loop threshold</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Parameter</key>
				<dict>
					<key>Title</key>
					<string>Loops</string>
					<key>Token</key>
					<string>Loops</string>
				</dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>Big loops in contour of color dist</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Parameter</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Loops for Big loops in contour of color dist</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Exclude</key>
				<string>Off</string>
				<key>Max</key>
				<string>∞</string>
				<key>Min</key>
				<string>0</string>
				<key>RealNumber</key>
				<dict>
					<key>Selected</key>
					<string>Loops for Big loops in contour of color dist</string>
				</dict>
				<key>Restrict</key>
				<string>Off</string>
				<key>Sparsify</key>
				<string>On</string>
				<key>StartingTime</key>
				<string>0</string>
				<key>StrideTime</key>
				<string>1</string>
				<key>Times</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
				<key>Under</key>
				<string>200</string>
			</dict>
			<key>Selection</key>
			<string>Sample</string>
			<key>VariableName</key>
			<string>Sampling of Loops for Big loops in contour of color dist</string>
			<key>VariableType</key>
			<string>Plot1D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Integer</key>
				<string>Off</string>
				<key>Range</key>
				<string>0,1</string>
				<key>RangeEqualsValue</key>
				<string>Off</string>
				<key>Slider</key>
				<dict>
					<key>CurrentValue</key>
					<real>0.29399999999999998</real>
					<key>MaxValue</key>
					<real>1</real>
					<key>MinValue</key>
					<real>0.0</real>
					<key>String</key>
					<string>0.294</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Slider</string>
			<key>VariableName</key>
			<string>for color picker</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DACollapser - 1 - Closed</string>
			<key>VariableType</key>
			<string>CollapserClose</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>-1446</real>
		<real>312</real>
		<real>941</real>
		<real>682</real>
	</array>
</dict>
</plist>
