<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Attachments</key>
	<array/>
	<key>DrawingWindows</key>
	<array>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>ZScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MaxZValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>MinZValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-93.450000000000003</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>-93.45</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>20</real>
								<key>MaxValue</key>
								<real>60</real>
								<key>MinValue</key>
								<real>2</real>
								<key>String</key>
								<string>20</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>UpVector</key>
						<integer>0</integer>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-3.988</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>-3.988</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Vector Collection</string>
					<key>Computation</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.0</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<string>On</string>
						<key>Region</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>RoughAt</key>
						<string>1000</string>
						<key>Scaling</key>
						<string>0.14</string>
						<key>Type</key>
						<integer>1</integer>
						<key>UpperBound</key>
						<string>4000</string>
						<key>VectorCollection</key>
						<dict>
							<key>Selected</key>
							<string>velocities from Old Implementation</string>
						</dict>
						<key>Width</key>
						<string>0.083</string>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Hidden</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.011504650119999999</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>1</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<string>Off</string>
						<key>CutOff</key>
						<string>100K</string>
						<key>Material</key>
						<integer>0</integer>
						<key>Maximum</key>
						<string>700K</string>
						<key>Points</key>
						<dict>
							<key>Selected</key>
							<string>Points from velocities from Old Implementation</string>
						</dict>
						<key>Region</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Size</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Type</key>
						<integer>2</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>Crop</key>
						<string>On</string>
						<key>CroppingRegion</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawEdge</key>
						<string>On</string>
						<key>DrawSide</key>
						<string>On</string>
						<key>Edge</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.16008567809999999</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>3D Region</string>
						</dict>
						<key>Side</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.3700000048</real>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.72167921069999996</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Size</key>
						<string>0.1</string>
						<key>Type</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>403</real>
			<key>DrawingWindowType</key>
			<string>3DGLGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{726, 403}</string>
			<key>Lights</key>
			<dict>
				<key>Lights</key>
				<array/>
			</dict>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>Rendering</key>
			<dict>
				<key>BackgroundColor</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Density</key>
				<string>1</string>
				<key>Fog</key>
				<string>Off</string>
				<key>FogType</key>
				<integer>0</integer>
				<key>LinearRange</key>
				<string>0,1</string>
				<key>Offset</key>
				<string>1,10</string>
				<key>Smoothing</key>
				<integer>3</integer>
				<key>Sorting</key>
				<integer>0</integer>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>728,403</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>old md</string>
			<key>WindowPos</key>
			<array>
				<real>-751</real>
				<real>751</real>
				<real>726</real>
				<real>712</real>
			</array>
		</dict>
		<dict>
			<key>Antialiasing</key>
			<string>YES</string>
			<key>Axis</key>
			<dict>
				<key>YScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>ZScale</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>1</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>BoundingBox</key>
			<dict>
				<key>MaxXValue</key>
				<string></string>
				<key>MaxYValue</key>
				<string></string>
				<key>MaxZValue</key>
				<string></string>
				<key>MinXValue</key>
				<string></string>
				<key>MinYValue</key>
				<string></string>
				<key>MinZValue</key>
				<string></string>
				<key>RangeType</key>
				<integer>0</integer>
				<key>Region</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>Camera</key>
			<dict>
				<key>Active</key>
				<integer>0</integer>
				<key>Cameras</key>
				<array>
					<dict>
						<key>CameraType</key>
						<string>Spherical</string>
						<key>Horizontal</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-86.810000000000002</real>
								<key>MaxValue</key>
								<real>180</real>
								<key>MinValue</key>
								<real>-180</real>
								<key>String</key>
								<string>-86.81</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Magnification</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>20</real>
								<key>MaxValue</key>
								<real>60</real>
								<key>MinValue</key>
								<real>2</real>
								<key>String</key>
								<string>20</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Name</key>
						<string>Spherical</string>
						<key>UpVector</key>
						<integer>0</integer>
						<key>Vertical</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>CurrentValue</key>
								<real>-1.98</real>
								<key>MaxValue</key>
								<real>90</real>
								<key>MinValue</key>
								<real>-90</real>
								<key>String</key>
								<string>-1.98</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>CommandContents</key>
			<array>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Point Collection</string>
					<key>Computation</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>0.011504650119999999</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>1</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Crop</key>
						<string>On</string>
						<key>CutOff</key>
						<string>100K</string>
						<key>Material</key>
						<integer>0</integer>
						<key>Maximum</key>
						<string>700K</string>
						<key>Points</key>
						<dict>
							<key>Selected</key>
							<string>Points from velocity</string>
						</dict>
						<key>Region</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Size</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0.5</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Sparsify</key>
						<string>On</string>
						<key>Type</key>
						<integer>2</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
					<key>ToggleOpen</key>
					<string>YES</string>
				</dict>
				<dict>
					<key>CommandName</key>
					<string></string>
					<key>CommandType</key>
					<string>Region</string>
					<key>Computation</key>
					<dict>
						<key>Crop</key>
						<string>On</string>
						<key>CroppingRegion</key>
						<dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>DrawEdge</key>
						<string>On</string>
						<key>DrawSide</key>
						<string>On</string>
						<key>Edge</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.0</real>
									<key>Red</key>
									<real>0.16008567809999999</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Region</key>
						<dict>
							<key>Selected</key>
							<string>3D Region</string>
						</dict>
						<key>Side</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Color</key>
								<dict>
									<key>Alpha</key>
									<real>0.3700000048</real>
									<key>Blue</key>
									<real>1</real>
									<key>Green</key>
									<real>0.72167921069999996</real>
									<key>Red</key>
									<real>0.0</real>
									<key>Space</key>
									<string>NSCalibratedRGBColorSpace</string>
								</dict>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
						<key>Size</key>
						<string>0.1</string>
						<key>Type</key>
						<integer>0</integer>
					</dict>
					<key>Drawn</key>
					<string>Include</string>
					<key>Status</key>
					<string>Visible</string>
				</dict>
			</array>
			<key>DrawingHeight</key>
			<real>370</real>
			<key>DrawingWindowType</key>
			<string>3DGLGraph</string>
			<key>FigureName</key>
			<string>Untitled</string>
			<key>Last Drawing View Size</key>
			<string>{742, 370}</string>
			<key>Lights</key>
			<dict>
				<key>Lights</key>
				<array/>
			</dict>
			<key>MaxHeight</key>
			<string></string>
			<key>MaxWidth</key>
			<string></string>
			<key>OutputHeight</key>
			<string></string>
			<key>OutputWidth</key>
			<string></string>
			<key>QT</key>
			<dict>
				<key>Format</key>
				<string>Animation</string>
				<key>Quality</key>
				<dict>
					<key>EntryName</key>
					<string>Lossless</string>
					<key>EntryNumber</key>
					<integer>0</integer>
				</dict>
				<key>Range</key>
				<string>0,∞</string>
				<key>ShowInFinder</key>
				<string>On</string>
				<key>TimeStep</key>
				<string>1.0</string>
			</dict>
			<key>Rendering</key>
			<dict>
				<key>BackgroundColor</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>Alpha</key>
							<real>0.0</real>
							<key>Blue</key>
							<real>1</real>
							<key>Green</key>
							<real>1</real>
							<key>Red</key>
							<real>1</real>
							<key>Space</key>
							<string>NSCalibratedRGBColorSpace</string>
						</dict>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Density</key>
				<string>1</string>
				<key>Fog</key>
				<string>Off</string>
				<key>FogType</key>
				<integer>0</integer>
				<key>LinearRange</key>
				<string>0,1</string>
				<key>Offset</key>
				<string>1,10</string>
				<key>Smoothing</key>
				<integer>3</integer>
				<key>Sorting</key>
				<integer>0</integer>
			</dict>
			<key>SeparateWindowPos</key>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<key>ViewSizeJoined</key>
			<string>744,370</string>
			<key>ViewSizeSeparated</key>
			<string></string>
			<key>Visible</key>
			<string>NO</string>
			<key>WindowName</key>
			<string>new md</string>
			<key>WindowPos</key>
			<array>
				<real>-1493</real>
				<real>749</real>
				<real>742</real>
				<real>716</real>
			</array>
		</dict>
	</array>
	<key>MonitorVariables</key>
	<array>
		<string>Length of 3D Path</string>
		<string>3D Path</string>
		<string>Points from velocity</string>
		<string>Snapshot of Points from velocity</string>
	</array>
	<key>Time</key>
	<dict>
		<key>CurrentTime</key>
		<dict>
			<key>CurrentValue</key>
			<real>41.510120105743411</real>
			<key>MaxValue</key>
			<real>100</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string>41.510120105743</string>
		</dict>
		<key>Duration</key>
		<string>10</string>
		<key>Include</key>
		<string>0</string>
		<key>Loop</key>
		<string>Off</string>
		<key>TimeHint</key>
		<real>41.510120105743411</real>
		<key>TimeStep</key>
		<string>1.0</string>
		<key>TimeStepSwitch</key>
		<string>Off</string>
		<key>ToggleMax</key>
		<string>1</string>
		<key>ToggleMin</key>
		<string>0</string>
		<key>WindowPos</key>
		<array>
			<real>-406</real>
			<real>186</real>
			<real>377</real>
			<real>172</real>
		</array>
		<key>ZoomMax</key>
		<string>0</string>
		<key>ZoomMin</key>
		<string>0</string>
		<key>ZoomSlider</key>
		<dict>
			<key>CurrentValue</key>
			<real>0.0</real>
			<key>MaxValue</key>
			<real>0.0</real>
			<key>MinValue</key>
			<real>0.0</real>
			<key>String</key>
			<string></string>
		</dict>
	</dict>
	<key>Variables</key>
	<array>
		<dict>
			<key>ScriptName</key>
			<string>Text-1.rtfd</string>
			<key>TextHeight</key>
			<real>14</real>
			<key>VariableName</key>
			<string>DAText - 1</string>
			<key>VariableType</key>
			<string>Text</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/old code</string>
				<key>Argument</key>
				<string></string>
				<key>DirName</key>
				<string></string>
				<key>DirType</key>
				<integer>0</integer>
				<key>GroupName</key>
				<string>DT_RetGroup</string>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>old code/old code.xcodeproj</string>
				<key>Structure</key>
				<array>
					<dict>
						<key>Name</key>
						<string>velocities</string>
						<key>Type</key>
						<string>VectorCollection3D</string>
					</dict>
				</array>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>parameters</string>
						<key>Type</key>
						<string>Dictionary</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>parameters</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>3D Region</string>
						<key>Type</key>
						<string>Region3D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>3D Region</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Task</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Old Implementation</string>
			<key>VariableType</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Group</key>
				<dict>
					<key>Selected</key>
					<string>Old Implementation</string>
				</dict>
				<key>Name</key>
				<dict>
					<key>Title</key>
					<string>velocities</string>
					<key>Token</key>
					<string>velocities</string>
				</dict>
				<key>NameString</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Group</string>
			<key>VariableName</key>
			<string>velocities from Old Implementation</string>
			<key>VariableType</key>
			<string>VectorCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>velocities from Old Implementation</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Variable</string>
			<key>VariableName</key>
			<string>Points from velocities from Old Implementation</string>
			<key>VariableType</key>
			<string>PointCollection3D</string>
		</dict>
		<dict>
			<key>VariableName</key>
			<string>DADivider - 1</string>
			<key>VariableType</key>
			<string>Divider</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>4^3</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>n</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>v*3</string>
				<key>Number</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>0</string>
					</dict>
					<key>Selected</key>
					<string>n</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Map Value</string>
			<key>VariableName</key>
			<string>3*n</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Length</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>100</string>
					</dict>
					<key>Selected</key>
					<string>3*n</string>
				</dict>
				<key>Seed</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Number</key>
						<string>437</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>Random</string>
			<key>VariableName</key>
			<string>List of Numbers</string>
			<key>VariableType</key>
			<string>NumberList</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>3,length/3</string>
				<key>Numbers</key>
				<dict>
					<key>Selected</key>
					<string>List of Numbers</string>
				</dict>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Reshape</string>
			<key>VariableName</key>
			<string>List of Numbers Reshaped</string>
			<key>VariableType</key>
			<string>Array</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Array</key>
				<dict>
					<key>Selected</key>
					<string>List of Numbers Reshaped</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Array</string>
			<key>VariableName</key>
			<string>initialPoints</string>
			<key>VariableType</key>
			<string>PointCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Formula</key>
				<string>0,5,0,5,0,5</string>
				<key>Variables</key>
				<array/>
			</dict>
			<key>Selection</key>
			<string>Expression</string>
			<key>VariableName</key>
			<string>3D Region</string>
			<key>VariableType</key>
			<string>Region3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>HowMany</key>
				<string>10</string>
				<key>Time</key>
				<string>n</string>
				<key>Value</key>
				<string>4235*n+423</string>
			</dict>
			<key>Selection</key>
			<string>Time Sequence</string>
			<key>VariableName</key>
			<string>seed</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>radius</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>v0</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>vMax</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>seed</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>157</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>maxTime</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>100</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>dt</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>.01</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>stride</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>10</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>Var</string>
						<key>Number Type</key>
						<integer>0</integer>
						<key>Type</key>
						<string>Real Number</string>
						<key>Var</key>
						<dict>
							<key>Inline</key>
							<dict>
								<key>Number</key>
								<string>0</string>
							</dict>
							<key>SelectedNumber</key>
							<integer>0</integer>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Create</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>parameters</string>
			<key>VariableType</key>
			<string>Dictionary</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/taskCollisions</string>
				<key>Argument</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Communication</key>
				<integer>1</integer>
				<key>Description</key>
				<dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Project</key>
				<string>taskCollisions/taskCollisions.xcodeproj</string>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>parameters</string>
						<key>Type</key>
						<string>Dictionary</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>parameters</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>initialPoints</string>
						<key>Type</key>
						<string>PointCollection3D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>initialPoints</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>box</string>
						<key>Type</key>
						<string>Region3D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>3D Region</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Parameter Run</string>
			<key>VariableName</key>
			<string>Task</string>
			<key>VariableType</key>
			<string>Task</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Application</key>
				<string>$BUILD/Debug/taskCollisions</string>
				<key>Argument</key>
				<string></string>
				<key>DirName</key>
				<string></string>
				<key>DirType</key>
				<integer>0</integer>
				<key>GroupName</key>
				<string>DT_RetGroup</string>
				<key>Input</key>
				<string>Input.dtbin</string>
				<key>Output</key>
				<string>Output.dtbin</string>
				<key>Project</key>
				<string>taskCollisions/taskCollisions.xcodeproj</string>
				<key>Structure</key>
				<array>
					<dict>
						<key>Name</key>
						<string>velocities</string>
						<key>Type</key>
						<string>VectorCollection3D</string>
					</dict>
				</array>
				<key>Variables</key>
				<array>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>parameters</string>
						<key>Type</key>
						<string>Dictionary</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>parameters</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>initialPoints</string>
						<key>Type</key>
						<string>PointCollection3D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>initialPoints</string>
						</dict>
					</dict>
					<dict>
						<key>Include</key>
						<string>On</string>
						<key>Name</key>
						<string>box</string>
						<key>Type</key>
						<string>Region3D</string>
						<key>Var</key>
						<dict>
							<key>Selected</key>
							<string>3D Region</string>
						</dict>
					</dict>
				</array>
			</dict>
			<key>Selection</key>
			<string>Task</string>
			<key>ToggleOpen</key>
			<string>YES</string>
			<key>VariableName</key>
			<string>Personal Implementation</string>
			<key>VariableType</key>
			<string>Group</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Group</key>
				<dict>
					<key>Selected</key>
					<string>Personal Implementation</string>
				</dict>
				<key>Name</key>
				<dict>
					<key>Title</key>
					<string>velocities</string>
					<key>Token</key>
					<string>velocities</string>
				</dict>
				<key>NameString</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>String</key>
						<string></string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Type</key>
				<integer>0</integer>
			</dict>
			<key>Selection</key>
			<string>From Group</string>
			<key>VariableName</key>
			<string>velocity</string>
			<key>VariableType</key>
			<string>VectorCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>velocity</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>From Variable</string>
			<key>VariableName</key>
			<string>Points from velocity</string>
			<key>VariableType</key>
			<string>PointCollection3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>First</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Point</key>
						<string>0,0,0</string>
					</dict>
					<key>SelectedNumber</key>
					<integer>0</integer>
				</dict>
				<key>Second</key>
				<dict>
					<key>Inline</key>
					<dict>
						<key>Point</key>
						<string>1,1,1</string>
					</dict>
					<key>Selected</key>
					<string>Points from velocity</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Line</string>
			<key>VariableName</key>
			<string>3D Path</string>
			<key>VariableType</key>
			<string>Path3D</string>
		</dict>
		<dict>
			<key>Content</key>
			<dict>
				<key>Variable</key>
				<dict>
					<key>Selected</key>
					<string>3D Path</string>
				</dict>
			</dict>
			<key>Selection</key>
			<string>Length</string>
			<key>VariableName</key>
			<string>Length of 3D Path</string>
			<key>VariableType</key>
			<string>Real Number</string>
		</dict>
	</array>
	<key>WindowPosition</key>
	<array>
		<real>-2322</real>
		<real>107</real>
		<real>941</real>
		<real>1413</real>
	</array>
</dict>
</plist>
